Repository wai-doi/tsumeshogi-ban: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --check, eslint, stylelint

.lintstagedrc.json:

{
  "*": ["prettier --ignore-unknown --check"],
  "**/*.{ts,tsx}": ["eslint"],
  "**/*.css": ["stylelint"]
}

Add ModeButton component
  src/components/Board.css
  src/components/Board.tsx
  src/components/ModeButton.css
  src/components/ModeButton.tsx
Due: prettier --ignore-unknown --check, eslint, stylelint

Add useCurrentPieces custom hook
  src/components/Board.tsx
  src/hooks/useCurrentPieces.ts
Due: prettier --ignore-unknown --check, eslint

Add ColumnNumbers and RowNumbers components
  src/components/Board.css
  src/components/Board.tsx
  src/components/ColumnNumbers.css
  src/components/ColumnNumbers.tsx
  src/components/RowNumbers.css
  src/components/RowNumbers.tsx
Due: prettier --ignore-unknown --check, eslint, stylelint

Add useMovePiece custom hook
  src/components/Board.tsx
  src/components/pieces/Piece.tsx
  src/hooks/useMovePiece.ts
Due: prettier --ignore-unknown --check, eslint

Fix import file name
  src/components/Board.tsx
Due: prettier --ignore-unknown --check, eslint

Add eslint-plugin-import
  .eslintrc.cjs
  package-lock.json
  package.json
  src/components/Board.tsx
  src/components/PieceBox.tsx
  src/components/PieceStand.tsx
  src/components/Square.tsx
  src/hooks/useCurrentPieces.ts
  src/hooks/useMovePiece.ts
  src/hooks/usePiecesHistory.ts
  src/hooks/useSavedPieces.ts
Due: prettier --ignore-unknown --check, eslint

Add types.ts
  src/components/Board.tsx
  src/components/PieceBox.tsx
  src/components/PieceStand.tsx
  src/hooks/useCurrentPieces.ts
  src/hooks/useMovePiece.ts
  src/hooks/usePiecesHistory.ts
  src/hooks/useSavedPieces.ts
  src/types.ts
Due: prettier --ignore-unknown --check, eslint

Add StepButtonGroup component
  src/components/Board.css
  src/components/Board.tsx
  src/components/StepButtonGroup.css
  src/components/StepButtonGroup.tsx
Due: prettier --ignore-unknown --check, eslint, stylelint

Fix mode in useMovePiece
  src/components/Board.tsx
  src/hooks/useMovePiece.ts
Due: prettier --ignore-unknown --check, eslint

Fix lint error
  src/App.tsx
  src/components/pieces/Piece.tsx
  src/components/pieces/RookImage.tsx
  src/components/pieces/SilverImage.tsx
  src/main.tsx
  vite.config.ts
Due: prettier --ignore-unknown --check, eslint

Add explicit-function-return-type rule
  .eslintrc.cjs
  src/App.tsx
  src/components/Board.tsx
  src/components/ColumnNumbers.tsx
  src/components/ModeButton.tsx
  src/components/PieceBox.tsx
  src/components/PieceStand.tsx
  src/components/RowNumbers.tsx
  src/components/Square.tsx
  src/components/StepButtonGroup.tsx
  src/components/pieces/Piece.tsx
  src/hooks/useCurrentPieces.ts
  src/hooks/useMovePiece.ts
  src/hooks/usePiecesHistory.ts
  src/hooks/useSavedPieces.ts
Due: prettier --ignore-unknown --check, eslint

Add no-default-export rule
  .eslintrc.cjs
  src/App.tsx
  src/components/Board.tsx
  src/components/PieceBox.tsx
  src/components/PieceStand.tsx
  src/components/Square.tsx
  src/components/pieces/BishopImage.tsx
  src/components/pieces/GoldImage.tsx
  src/components/pieces/KingImage.tsx
  src/components/pieces/KnightImage.tsx
  src/components/pieces/LanceImage.tsx
  src/components/pieces/PawnImage.tsx
  src/components/pieces/Piece.tsx
  src/components/pieces/RookImage.tsx
  src/components/pieces/SilverImage.tsx
  vite.config.ts
Due: prettier --ignore-unknown --check, eslint

Split from Bard into Game and Board
  src/App.tsx
  src/components/Board.css
  src/components/Board.tsx
  src/components/Game.css
  src/components/Game.tsx
  src/components/pieces/Piece.tsx
  src/hooks/useMovePiece.ts
  src/types.ts
Due: prettier --ignore-unknown --check, eslint, stylelint

Use position hash map
  src/components/Board.tsx
Due: prettier --ignore-unknown --check, eslint

Remove unnecessary ternary operator
  src/components/Board.tsx
Due: prettier --ignore-unknown --check, eslint

Add consistent-type-definitions rule
  .eslintrc.cjs
  src/components/ModeButton.tsx
  src/components/StepButtonGroup.tsx
  src/hooks/useCurrentPieces.ts
  src/hooks/useMovePiece.ts
  src/hooks/usePiecesHistory.ts
  src/hooks/useSavedPieces.ts
  src/types.ts
Due: prettier --ignore-unknown --check, eslint

Define props interface
  src/components/Board.tsx
  src/components/PieceBox.tsx
  src/components/PieceStand.tsx
  src/components/Square.tsx
  src/components/pieces/Piece.tsx
Due: prettier --ignore-unknown --check, eslint

Rename to follow React conventions
  src/components/Board.tsx
  src/components/Game.tsx
  src/components/ModeButton.tsx
  src/components/StepButtonGroup.tsx
  src/components/pieces/Piece.tsx
  src/hooks/usePiecesHistory.ts
  src/types.ts
Due: prettier --ignore-unknown --check, eslint

Fix typescript error
  src/hooks/useMovePiece.ts
Due: prettier --ignore-unknown --check, eslint

Add consistent-type-imports rule
  .eslintrc.cjs
  src/components/Board.tsx
  src/components/Game.tsx
  src/components/PieceBox.tsx
Due: prettier --ignore-unknown --check, eslint

Update import/order rule groups
  .eslintrc.cjs
  src/components/Board.tsx
  src/components/Game.tsx
  src/components/PieceBox.tsx
  src/components/PieceStand.tsx
  src/components/pieces/Piece.tsx
  src/hooks/useMovePiece.ts
Due: prettier --ignore-unknown --check, eslint

Add PieceImage interface
  src/components/pieces/BishopImage.tsx
  src/components/pieces/GoldImage.tsx
  src/components/pieces/KingImage.tsx
  src/components/pieces/KnightImage.tsx
  src/components/pieces/LanceImage.tsx
  src/components/pieces/PawnImage.tsx
  src/components/pieces/Piece.tsx
  src/components/pieces/RookImage.tsx
  src/components/pieces/SilverImage.tsx
  src/types.ts
Due: prettier --ignore-unknown --check, eslint

Fix save history when flip piece
  src/components/Game.tsx
  src/hooks/useMovePiece.ts
  src/hooks/usePiecesHistory.ts
Due: prettier --ignore-unknown --check, eslint

Updates
  assets/index-7DSHuocg.js
  assets/index-BpbdOvLj.css
  assets/index-DRTBkeRv.js
  assets/index-KKW7oN-t.css
  index.html
Due: prettier --ignore-unknown --check, stylelint

解答モード中にモーダルで駒が成るか選択できるようにする
  src/components/Board.tsx
  src/components/Game.tsx
  src/components/PromoteModal.css
  src/components/PromoteModal.tsx
  src/components/Square.css
  src/components/Square.tsx
  src/components/pieces/Piece.css
  src/hooks/useMovePiece.ts
  src/hooks/usePiecesHistory.ts
  src/hooks/usePromotePiece.ts
  src/types.ts
Due: prettier --ignore-unknown --check, eslint, stylelint

駒を動かさない場合を判定する
  src/hooks/useMovePiece.ts
Due: prettier --ignore-unknown --check, eslint

Add no-console rule and remove console.log
  .eslintrc.cjs
  .lintstagedrc.json
  src/components/PromoteModal.tsx
  src/hooks/useMovePiece.ts
Due: prettier --ignore-unknown --check, eslint

解答モードでは右クリックで成れないようにする
  src/hooks/useMovePiece.ts
Due: prettier --ignore-unknown --check, eslint

手番で動かせる駒のみドラッグできるようにする
  src/components/Board.tsx
  src/components/Game.tsx
  src/components/PieceBox.tsx
  src/components/PieceStand.tsx
  src/components/pieces/Piece.css
  src/components/pieces/Piece.tsx
Due: prettier --ignore-unknown --check, eslint, stylelint

Updates
  assets/index-BpbdOvLj.css
  assets/index-DKMEij31.css
  assets/index-DKWLNECh.js
  assets/index-DRTBkeRv.js
  index.html
Due: prettier --ignore-unknown --check, stylelint

Specify React.CSSProperties
  src/components/Square.tsx
  src/components/pieces/Piece.tsx
Due: prettier --ignore-unknown --check, eslint

ドラッグ中の駒が上に重なるようにする
  src/components/pieces/Piece.css
  src/components/pieces/Piece.tsx
Due: prettier --ignore-unknown --check, eslint, stylelint

解答モードで駒の移動できる位置にだけ行けるようにする
  src/components/Board.tsx
  src/components/Game.tsx
  src/components/Square.tsx
  src/hooks/useMovePiece.ts
  src/utils/moveValidator.ts
Due: prettier --ignore-unknown --check, eslint

Updates
  assets/index-DKMEij31.css
  assets/index-DKWLNECh.js
  assets/index-HnjZi65Q.css
  assets/index-hq2VWChY.js
  index.html
Due: prettier --ignore-unknown --check, stylelint

解答モードで駒を打てるよう修正する
  src/hooks/useMovePiece.ts
Due: prettier --ignore-unknown --check, eslint

Updates
  assets/index-BDu8vyPW.js
  assets/index-hq2VWChY.js
  index.html
Due: prettier --ignore-unknown --check

解答モードで駒台と駒箱には駒を入れられないようにする
  src/hooks/useMovePiece.ts
Due: prettier --ignore-unknown --check, eslint

解答モードで持ち駒を打つとき打てる場所がわかるようにする
  src/hooks/useMovePiece.ts
  src/utils/moveValidator.ts
Due: prettier --ignore-unknown --check, eslint

Introduce Playwright for E2E test
  .github/workflows/playwright.yml
  .gitignore
  package-lock.json
  package.json
  playwright.config.ts
  tests/app.spec.ts
Due: prettier --ignore-unknown --check, eslint

テストに失敗したときスクリーンショットを撮る
  playwright.config.ts
Due: prettier --ignore-unknown --check, eslint
