Repository wai-doi/tsumeshogi-ban: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --check, eslint, stylelint

.lintstagedrc.json:

{
  "*": ["prettier --ignore-unknown --check"],
  "**/*.{ts,tsx}": ["eslint"],
  "**/*.css": ["stylelint"]
}

Add Stylelint
  .lintstagedrc.json
  .stylelintrc.json
  package-lock.json
  package.json
  src/App.css
  src/components/Board.css
  src/components/PieceBox.css
  src/components/PieceStand.css
  src/components/Square.css
  src/index.css
Due: prettier --ignore-unknown --check, stylelint

Updates
  assets/index-DLzaLEUC.css
  assets/index-Dy1wpElz.css
  assets/index-kXIF7rU3.js
  index.html
Due: prettier --ignore-unknown --check, stylelint

編集モードと解答モードを切り替えられるようにする
  src/components/Board.css
  src/components/Board.tsx
Due: prettier --ignore-unknown --check, eslint, stylelint

モードを切り替えたとき画面がずれないようにする
  src/App.css
  src/components/PieceBox.css
Due: prettier --ignore-unknown --check, stylelint

Updates
  assets/index-Cv-Y4IM5.css
  assets/index-Dy1wpElz.css
  assets/index-JzSHKTJU.js
  assets/index-kXIF7rU3.js
  index.html
Due: prettier --ignore-unknown --check, stylelint

相手の駒は表示したままにする
  src/components/Board.tsx
Due: prettier --ignore-unknown --check, eslint

Updates
  assets/index-jcGAZweX.js
  index.html
Due: prettier --ignore-unknown --check

手を進んだり戻ったりできるようにする
  package-lock.json
  package.json
  src/components/Board.css
  src/components/Board.tsx
Due: prettier --ignore-unknown --check, eslint, stylelint

Updates
  assets/index-COJJqrfm.js
  assets/index-Cv-Y4IM5.css
  assets/index-CzvcQmLx.css
  assets/index-jcGAZweX.js
  index.html
Due: prettier --ignore-unknown --check, stylelint

Add favicon
  index.html
  public/favicon.ico
Due: prettier --ignore-unknown --check

Updates
  favicon.ico
  index.html
Due: prettier --ignore-unknown --check

解答モードでは駒箱の駒を置いたら相手の駒にする
  src/components/Board.tsx
Due: prettier --ignore-unknown --check, eslint

編集モードを抜けるとき保存している盤面が変わらなければ、確認ダイアログを出さない
  src/components/Board.tsx
Due: prettier --ignore-unknown --check, eslint

駒台の駒を高い順にする
  src/components/PieceStand.tsx
Due: prettier --ignore-unknown --check, eslint

現在の手数を表示する
  src/components/Board.css
  src/components/Board.tsx
Due: prettier --ignore-unknown --check, eslint, stylelint

Updates
  assets/index-COJJqrfm.js
  assets/index-CfFSXuxh.js
  assets/index-CzvcQmLx.css
  assets/index-IknXXAQO.css
  index.html
Due: prettier --ignore-unknown --check, stylelint

モードの表示を切り替えのボタンにする
  src/components/Board.css
  src/components/Board.tsx
Due: prettier --ignore-unknown --check, eslint, stylelint

Updates
  assets/index-CfFSXuxh.js
  assets/index-D0ZBzfta.css
  assets/index-IknXXAQO.css
  assets/index-c03FtFcs.js
  index.html
Due: prettier --ignore-unknown --check, stylelint

確認ダイアログの文言を修正する
  src/components/Board.tsx
Due: prettier --ignore-unknown --check, eslint

編集モードに戻ったとき解答の手をリセットする
  src/components/Board.tsx
Due: prettier --ignore-unknown --check, eslint

Updates
  assets/index-DZ3ELfMf.js
  index.html
Due: prettier --ignore-unknown --check

Refactor checking current mode
  src/components/Board.tsx
Due: prettier --ignore-unknown --check, eslint

解答モードでは駒箱の玉は表示しない
  src/components/Board.tsx
Due: prettier --ignore-unknown --check, eslint

解答モードのとき駒箱からは出せるのは相手番のみにする
  src/components/Board.tsx
Due: prettier --ignore-unknown --check, eslint

解答モードで駒箱からドラッグしたとき相手の駒の向きにする
  src/components/Board.tsx
  src/components/pieces/Piece.tsx
Due: prettier --ignore-unknown --check, eslint

盤の筋と段がわかるようにする
  src/components/Board.css
  src/components/Board.tsx
Due: prettier --ignore-unknown --check, eslint, stylelint

Add type to useContext
  src/components/Board.tsx
Due: prettier --ignore-unknown --check, eslint

解答モードでは駒の向きが変わらないようにする
  src/components/Board.tsx
Due: prettier --ignore-unknown --check, eslint

Updates
  assets/index-CHHYjoJl.css
  assets/index-D0ZBzfta.css
  assets/index-DZ3ELfMf.js
  assets/index-wjyllsOj.js
  index.html
Due: prettier --ignore-unknown --check, stylelint

テキストの選択ができないようにする
  src/App.css
Due: prettier --ignore-unknown --check, stylelint

Fix warning
  src/components/Board.tsx
  src/components/PieceBox.tsx
  src/components/PieceStand.tsx
Due: prettier --ignore-unknown --check, eslint

マウスカーソルを駒を掴むようにする
  src/components/pieces/Piece.tsx
Due: prettier --ignore-unknown --check, eslint

Updates
  assets/index-7DSHuocg.js
  assets/index-CHHYjoJl.css
  assets/index-KKW7oN-t.css
  index.html
Due: prettier --ignore-unknown --check, stylelint

相手の駒の上には持ち駒は打てないように
  src/components/Board.tsx
Due: prettier --ignore-unknown --check, eslint

Rename type name
  src/components/Board.tsx
  src/components/PieceBox.tsx
  src/components/PieceStand.tsx
  src/components/pieces/Piece.tsx
Due: prettier --ignore-unknown --check, eslint

Add usePiecesHistory custom hook
  src/components/Board.tsx
  src/hooks/usePiecesHistory.ts
Due: prettier --ignore-unknown --check, eslint

モードを切り替えたとき画面が動かないよう調整する
  src/App.css
  src/components/Board.css
Due: prettier --ignore-unknown --check, stylelint

Add savedPieces useState
  src/components/Board.tsx
Due: prettier --ignore-unknown --check, eslint

Rename to currentPieces
  src/components/Board.tsx
  src/hooks/usePiecesHistory.ts
Due: prettier --ignore-unknown --check, eslint

Add useSavedPieces custom hook
  src/components/Board.tsx
  src/hooks/useSavedPieces.ts
Due: prettier --ignore-unknown --check, eslint
