Repository wai-doi/tsumeshogi-ban: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --check, eslint, stylelint

.lintstagedrc.json:

{
  "*": ["prettier --ignore-unknown --check"],
  "**/*.{ts,tsx}": ["eslint"],
  "**/*.css": ["stylelint"]
}

テストで指定できるようにidをつける
  src/components/PieceBox.tsx
  src/components/Square.tsx
  src/components/pieces/Piece.tsx
Due: prettier --ignore-unknown --check, eslint

編集モードの駒の操作のテストを追加する
  tests/edit.spec.ts
  tests/helpers.ts
Due: prettier --ignore-unknown --check, eslint

編集モードにあるボタンのテストを追加する
  tests/edit.spec.ts
Due: prettier --ignore-unknown --check, eslint

Remove title test
  tests/app.spec.ts
Due: prettier --ignore-unknown --check, eslint

解答モードの駒の操作のテストを追加する
  src/components/PromoteModal.tsx
  tests/solve.spec.ts
Due: prettier --ignore-unknown --check, eslint

解答モードの進むと戻るボタンのテストを追加する
  src/components/StepButtonGroup.tsx
  tests/solve.spec.ts
Due: prettier --ignore-unknown --check, eslint

編集モードでは駒のある位置には置けないようにする
  src/hooks/useMovePiece.ts
Due: prettier --ignore-unknown --check, eslint

Update React to v19.0.0
  package-lock.json
  package.json
Due: prettier --ignore-unknown --check

Update vite
  package-lock.json
  package.json
Due: prettier --ignore-unknown --check

uptate @vitejs/plugin-react-swc
  package-lock.json
  package.json
Due: prettier --ignore-unknown --check

Downgrade react to 18
  package-lock.json
  package.json
Due: prettier --ignore-unknown --check

Upgrade libraries with npm-check-updates
  package-lock.json
  package.json
Due: prettier --ignore-unknown --check

Install jest
  package-lock.json
  package.json
Due: prettier --ignore-unknown --check

Install jest-dom
  package-lock.json
  package.json
Due: prettier --ignore-unknown --check

Migrate to ESLint flat config
  .eslintrc.cjs
  eslint.config.mjs
  package-lock.json
  package.json
  src/components/Game.tsx
  src/components/Square.tsx
  src/components/pieces/Piece.tsx
  src/contexts/modeContext.ts
Due: prettier --ignore-unknown --check, eslint

前に進めない駒を強制的に成る
  src/hooks/useMovePiece.ts
Due: prettier --ignore-unknown --check, eslint

Remove FlatCompat in flat config
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --ignore-unknown --check

npm audit fix
  package-lock.json
Due: prettier --ignore-unknown --check

Fix usage
  README.md
Due: prettier --ignore-unknown --check

Add lint job to CI workflow
  .github/workflows/ci.yml
Due: prettier --ignore-unknown --check

Fix lint script name
  .github/workflows/ci.yml
  package.json
Due: prettier --ignore-unknown --check

Add concurrency
  .github/workflows/ci.yml
Due: prettier --ignore-unknown --check

Add workflow_dispatch
  .github/workflows/ci.yml
Due: prettier --ignore-unknown --check

Move E2E tests
  .github/workflows/ci.yml
  tests/e2e/edit.spec.ts
  tests/e2e/helpers.ts
  tests/e2e/solve.spec.ts
Due: prettier --ignore-unknown --check, eslint

Update test command
  package.json
Due: prettier --ignore-unknown --check

Set jest config
  jest.config.js
  tsconfig.json
Due: prettier --ignore-unknown --check

Add Pawn movement test
  src/tests/utils/moveValidator.test.ts
Due: prettier --ignore-unknown --check, eslint

Run jest tests in CI
  .github/workflows/ci.yml
Due: prettier --ignore-unknown --check

Add piece movement tests
  src/tests/utils/moveValidator.test.ts
Due: prettier --ignore-unknown --check, eslint

Add tests for blocking move
  src/tests/utils/moveValidator.test.ts
Due: prettier --ignore-unknown --check, eslint

Install styled-components
  .stylelintrc.json
  package-lock.json
  package.json
Due: prettier --ignore-unknown --check

Replace CSS with styled-components
  src/App.css
  src/App.tsx
  src/components/Board.css
  src/components/Board.tsx
  src/components/ColumnNumbers.css
  src/components/ColumnNumbers.tsx
  src/components/Game.css
  src/components/Game.tsx
  src/components/ModeButton.css
  src/components/ModeButton.tsx
  src/components/PieceBox.css
  src/components/PieceBox.tsx
  src/components/PieceStand.css
  src/components/PieceStand.tsx
  src/components/PromoteModal.css
  src/components/PromoteModal.tsx
  src/components/RowNumbers.css
  src/components/RowNumbers.tsx
  src/components/Square.css
  src/components/Square.tsx
  src/components/StepButtonGroup.css
  src/components/StepButtonGroup.tsx
  src/components/pieces/Piece.css
  src/components/pieces/Piece.tsx
  tests/e2e/edit.spec.ts
  tests/e2e/solve.spec.ts
Due: prettier --ignore-unknown --check, eslint, stylelint

Updates
  assets/index-BDu8vyPW.js
  assets/index-DaswNTwA.css
  assets/index-HnjZi65Q.css
  assets/index-XHJx5yyR.js
  index.html
Due: prettier --ignore-unknown --check, stylelint

Create LICENSE
  LICENSE
Due: prettier --ignore-unknown --check

Add AGENTS.md
  AGENTS.md
Due: prettier --ignore-unknown --check

SFENを読み込んで盤面に反映できるようにする
  src/components/Game.tsx
  src/components/SfenLoader.tsx
  src/tests/utils/sfen.test.ts
  src/utils/sfen.ts
  tests/e2e/edit.spec.ts
Due: prettier --ignore-unknown --check, eslint

Updates
  assets/index-Crr9hJ4n.js
  assets/index-XHJx5yyR.js
  index.html
Due: prettier --ignore-unknown --check

Update @playwright/test to version 1.58.2
  package-lock.json
  package.json
Due: prettier --ignore-unknown --check

dragAndDrop helper で最大2回試行させる
  tests/e2e/helpers.ts
Due: prettier --ignore-unknown --check, eslint

Extract usage from README
  README.md
  docs/usage.md
  src/App.tsx
Due: prettier --ignore-unknown --check, eslint
